<div class="msg-wrap">
  <% p @threads[@thread_num.to_i] %>

  <% thread = @threads[@thread_num.to_i] %>
    <% thread.each do |message| %>
      <div class="media msg ">
          <div class="media-body" style="text-align: left">
              <small class="pull-right time"> <%= message.created_at %></small>
              <medium class="media-heading" style="text-align: left"><%= message.sender.first_name %></medium>
              <medium class="col-lg-10" style="text-align: left"><%= message.message %></medium>
          </div>
      </div>
    <% end %>
    <div class = "row">
      <form method="POST" action="/messages/private/<%= thread.last.id %>">
        <div class="send-wrap ">
            <input type="hidden" name="thread_id" value="<%=@thread_num %>">
            <textarea class="form-control send-message" name="text" rows="3" placeholder="Write a reply..."></textarea>
            <div class="btn-panel">
            <input type="submit" class="btn-panel col-lg-4 text-right btn   send-message-btn pull-right" role="button" value = "Send Message"> </input></div>
        </div>
      </form>
    </div>
</div>