<div class="container">
  <div class="row">
    <div class="conversation-wrap col-lg-3">

      <% if @threads.length == 0 %>
        <div class="media conversation">
          <div class="media-body">
              <small>Your inbox is empty. Don't be shy, reach out more often!</small>
          </div>
        </div>
      <% end %>


      <% @threads.each do |thread| %>
      <% message = thread.last %>
        <div class="media conversation">
            <a class="pull-left" href="#">
                <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="">
            </a>
            <div class="media-body">
                <h5 class="media-heading"><%= message.sender.first_name %> <%= message.sender.last_name %>, <%= message.parent_message.sender.first_name %> <%= message.parent_message.sender.last_name %></h5>
                <small><%= message.message %></small>
            </div>
        </div>
      <% end %>
    </div>

    <div class="message-wrap col-lg-8">
        <div class="msg-wrap">

          <% @threads.each do |thread| %>
            <% thread.each do |message| %>
              <div class="media msg ">

                  <div class="media-body" style="text-align: left">
                      <small class="pull-right time"> <%= message.created_at %></small>
                      <medium class="media-heading" style="text-align: left"><%= message.sender.first_name %></medium>
                      <medium class="col-lg-10" style="text-align: left"><%= message.message %></medium>
                  </div>
              </div>
            <% end %>
        <div class = "row">
        <form method="POST" action="/messages/private/<%= thread.last.id %>">
          <div class="send-wrap ">
              <textarea class="form-control send-message" name="text" rows="3" placeholder="Write a reply..."></textarea>
              <div class="btn-panel">
              <input type="submit" class="btn-panel col-lg-4 text-right btn   send-message-btn pull-right" role="button" value = "Send Message"> </input></div>
          </div>
        </form>
      </div>

        <% end %>

        </div>
    </div>
  </div>
</div>
