<!-- Main component for a primary marketing message or call to action -->


<div class="jumbotron">
  <% if current_user %>
  <h3>Welcome <%= current_user.first_name %>, glad to see you again.</h3>
    <p>Have a story today?</p>

  <a class="btn btn-lg btn-primary" href="/messages/new" role="button">Share Post</a>


  <% else %>

  <h3>For the fighters, the lovers, and the poets</h3>
  <p>What's your story?</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/sessions/new" role="button">Login</a>
    <a class="btn btn-lg btn-primary" href="/users/new" role="button">Sign Up &raquo;</a>
  </p>
  <% end %>

</div>

<% if current_user %>

<div class="row marketing">
  <div class="col-lg-8 col-lg-offset-2">
    <table class="table">
      <% @sorted_messages.each do |message| %>
        <%if message.parent_id.nil? %>
          <tr class="index-row">
          <td><h4><a href="/messages/<%= message.id %>"><%= message.message.split(" ").length < 20 ? message.message : message.message.split(" ")[0..20].join(" ") + "..." %></a></h4></td>
          <td><h4><a href="/messages/<%= message.id %>"><%= message.time_ago_in_words %></a></h4></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<% end %>
